include .github/workflows/build-docs
include .github/workflows/build_test.yml
include .github/workflows/clear-target-files
include .github/workflows/docs.yml
include .github/workflows/linuxbuildwheels
include .github/workflows/macosbuildwheel
include .github/workflows/wheels.yml
include .gitignore
include CMakeLists.txt
include LICENSE
include README.md
include bench/bench.py
include cryptomite/CMakeLists.txt
include cryptomite/__init__.py
include cryptomite/circulant.py
include cryptomite/dodis.py
include cryptomite/pycryptomite.cpp
include cryptomite/raz.py
include cryptomite/toeplitz.py
include cryptomite/trevisan.py
include cryptomite/utils.py
include docs/Makefile
include docs/_static/.DS_Store
include docs/_static/images/cryptomite_logo_blur.png
include docs/_static/images/cryptomite_logo_full_blur.png
include docs/_static/images/favicon.png
include docs/bibliography.rst
include docs/conf.py
include docs/cryptomite.rst
include docs/examples/example.ipynb
include docs/figures/Table.png
include docs/figures/extractor_flow_chart.png
include docs/figures/performance.png
include docs/gettingstarted.rst
include docs/glossary.rst
include docs/index.rst
include docs/intro.rst
include docs/make.bat
include docs/notebooks.rst
include docs/performance.rst
include docs/requirements.txt
include na_set.txt
include pyproject.toml
include setup.cfg
include setup.py
include src/.gitignore
include src/.gitmodules
include src/.travis.yml
include src/CMakeLists.txt
include src/bigntt.cpp
include src/bigntt.h
include src/irreducible_poly.cpp
include src/irreducible_poly.h
include src/ntt.cpp
include src/ntt.h
include src/trevisan.cpp
include src/trevisan.h
include test/CMakeLists.txt
include test/requirements.txt
include test/test_circulant.py
include test/test_dodis.py
include test/test_ntt.py
include test/test_toeplitz.py
include test/test_vn.py
include test/tests.cpp
exclude MANIFEST.in